<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mascotas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">listar-mascotas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de mascotas</ion-card-title>
      <ion-card-subtitle>Encuentra aquí el detalle de todas las mascotas registradas.</ion-card-subtitle>
    </ion-card-header>

    <!-- Lista de mascotas -->
    <ion-card-content>
      <ion-list>
        <!-- Obtener la información de page.ts -->
        <ion-item *ngFor="let mascota of mascotas;let i = index">
          <!-- Primera fila -->
          <ion-row>
            <ion-col size="12" size-sm="6">
              <ion-label><strong>Nombre:</strong> {{mascota.nombre}}</ion-label>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <ion-label><strong>Especie:</strong> {{mascota.especie}}</ion-label>
            </ion-col>            
          </ion-row>
          
          <!-- Segunda fila-->
          <ion-row>
            <ion-col size="12" size-sm="6">
              <ion-label><strong>Raza:</strong> {{mascota.raza}}</ion-label>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <ion-label><strong>Edad:</strong> {{mascota.edad}} años</ion-label>
            </ion-col>
          </ion-row>
          
          <!-- Tercera fila -->
          <ion-row>
            <ion-col size="12" size-sm="6">
              <ion-label><strong>Sexo:</strong> {{mascota.sexo}}</ion-label>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <ion-label><strong>Alergias:</strong> {{mascota.alergias}}</ion-label>
            </ion-col>
          </ion-row>
          
          <!-- Botón eliminar centrado -->
          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-button color="warning" (click)="eliminarMascotas(i)" expand="block" shape="round">
                Eliminar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>